<h1><%= @spaceship.model %></h1> 

<%= link_to 'Book spaceship', new_spaceship_booking_path(@spaceship) %>
<%= link_to 'Reviews', new_spaceship_review_path(@spaceship) %>

<%= link_to 'Back', spaceships_path %>