.banner {
  margin-bottom: 24px;
  background-position: center;
  height: 100vh;
}

.banner2 {
  margin-bottom: 24px;
  background-position: center;
  background-size: cover;
  height: 50vh;
  padding-top: 200px;
  text-align: center;
}