.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    height: 175px;
    width: 250px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    background-size: cover !important;
    background-position: center;
    color: white;
    position: relative;
    margin-bottom: 16px;
}

.card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.card-description-bottom-2 {
  position: absolute;
  bottom: 30px;
  right: 10px;
}

.card-description-bottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card-description h2 {
    font-size: 24px;
    color: white;
}

.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background: black;
    opacity: 0;
}

.card-link:hover {
    opacity: 0.1;
}

//dashboard css

.hello {
    margin-top: 100px;
}

.booked-spaceship {
    margin-top: 50px;
    margin-right: 100px;
}

.dashboard-card {
    position: relative;
    height: 260px;
    background: linear-gradient(-225deg, rgba(210, 212, 210, 0.6) 30%, rgba(210, 212, 210, 0.5) 80%);
    background-size: cover;
    color: black;
    border-radius: 25px;
    padding-top: 24px;  
}

// .model {
//     padding-left: 20px;
// }
.card-product {
    overflow: hidden;
    height: 250px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    border-radius: 25px;
    width: 100%;
  }
  
  .card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  
  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .card-product .card-product-infos {
    padding: 16px;
  }