.navbar-lewagon {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    background: #a7ab85;
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 40px;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: rgb(122, 122, 122) !important;
}